<!DOCTYPE html>
<html>
  <head>
    <title>URL shortener app!</title>
    
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
   

    <main>
      <p class="bold">Example creation input: </p>
      <p>http://morning-bayou-65626.herokuapp.com/new/www.amazon.in<br>
      http://morning-bayou-65626.herokuapp.com/new/www.google.com</p>
      <p class="bold">Example usage input:</p>
      <p>http://morning-bayou-65626.herokuapp.com/525820</p>
     
    </main>

    <footer>
      Made by Kartik Vijay
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
